<div class="autocomplete-wrapper">

  <h2 class="example-title">Static list with history</h2>

  <p>
    Difference with 'Static List' example is presence of <code>historyId</code> property. The component displays history list when <code>search</code> property is empty and there is at least 1 item in history list corresponding with the <code>historyId</code>.
  </p>

  <h3>Component Markup</h3>
  <pre class="codeblock exampleCode-wrapper">
    <code >{{componentMarkup}}</code>
  </pre>

  <h3>Rendered component</h3>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isStatic]="true"
    historyId="static"
  ></ng2-simple-autocomplete>

  <h3>Selected Item</h3>
  <table class="resultTable">
    <tr>
      <td>text</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.text || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>markup</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.markup || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>value</td>
      <td>
        <pre *ngIf="!!selected" class="codeblock"><code>{{!!selected && selected.value}}</code></pre>
      </td>
    </tr>
  </table>

  <h3><code>searchResults</code> property</h3>
  <pre class="codeblock exampleCode-wrapper">
     <code [innerHTML]="">{{listMarkup}}</code>
  </pre>


</div>
