<div class="autocomplete-wrapper">

  <h2 class="example-title">Static list</h2>

  <p>
    This component has static list as <code>searchResults</code>. When use static list, you should set <code>isStatic</code> property as true. If you don't, component do not automatically filter the list with <code>search</code> property.
  </p>

  <h3>Component Markup</h3>
  <pre class="codeblock exampleCode-wrapper">
    <code >{{componentMarkup}}</code>
  </pre>

  <h3>Rendered component</h3>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isStatic]="true"
  ></ng2-simple-autocomplete>

  <h3>Selected Item</h3>
  <table class="resultTable">
    <tr>
      <td>text</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.text || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>markup</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.markup || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>value</td>
      <td>
        <pre *ngIf="!!selected" class="codeblock"><code>{{!!selected && selected.value}}</code></pre>
      </td>
    </tr>
  </table>

  <h3><code>searchResults</code> property</h3>
  <pre class="codeblock exampleCode-wrapper">
     <code [innerHTML]="">{{listMarkup}}</code>
  </pre>
</div>
