/*styles for home content only*/
.wrap {
  margin-bottom: 10rem;
}

hr {
  background: palevioletred;
  height: 2px;
  margin: 2rem 0;
  width: 400px;
}

.autocomplete-wrapper {
  width: 400px;
}

.autocomplete-wrapper input {
  font-weight: bold;
  height: 35px;
  line-height: 35px;
}

.code--remoteData {
  padding: 10px;
  border-radius: 3px;
  background-color: #efefef;
}
