<div class="wrap">
  <aside
    [ngClass]="{ 'menu': true, 'is-visible': menu.isVisibleOnMobile }"
  >
    <h2 class="menu-title">Examples</h2>
    <a routerLink="/async-search"
      class="menu-link">Async search results</a>
    <a routerLink="/static-list"
      class="menu-link">Static list</a>
    <a routerLink="/static-history"
      class="menu-link">Static list with history</a>
    <a routerLink="/style-cusomizing"
      class="menu-link">Style customizing</a>

    <div class="repoLinks">
      <hr class="horizontalBorder">
      <a
        href="https://github.com/rhostem/ng2-simple-autocomplete"
        target="_blank" class="menu-link"
      >GITHUB</a>
      <a
        href="https://www.npmjs.com/package/ng2-simple-autocomplete"
        target="_blank" class="menu-link"
      >NPM</a>
    </div>
  </aside>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
