<div class="autocomplete-wrapper">

  <h2 class="example-title">Async search results</h2>

  <p>This exmaple handles async dataset with <a href="https://developer.github.com/v3/" target="_blank">Github open API</a>.</p>

  <p>When <code>search</code> value changes, parent component of ng2-simple-autocomplete fetches github repository data with <code>search</code> value. Before binding the fetch results to <code>searchResult</code> proprety, the raw data should be processed to match with <code>AutoCompleteItem</code> interface.</p>

  <p>If you'd like to show loading spinner on right, you have to set <code>isLoading</code> property from async process(for example, set <code>true</code> before fetch, set <code>false</code> when fetch resolves).</p>

  <p>And This exmaple has <code>historyId</code>. So selected item will be remain in history list.</p>

  <h3>Component Markup</h3>
  <pre class="codeblock exampleCode-wrapper" style="margin-top: 20px">
    <code >{{componentMarkup}}</code>
  </pre>

  <h3>Rendered component</h3>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isLoading]="isLoading"
    historyId="async"
    placeholder="angular"
    [maxHistory]="10"
  ></ng2-simple-autocomplete>

  <h3>Selected Item</h3>
  <table class="resultTable">
    <tr>
      <td>text</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.text || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>markup</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.markup || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>value</td>
      <td>
        <pre *ngIf="!!selected" class="codeblock"><code>{{!!selected && selected.value}}</code></pre>
      </td>
    </tr>
  </table>

</div>
