<div class="autocomplete-wrapper">

  <h2 class="example-title">Async search results</h2>

  <p>
     This exmample utilizes <a href="https://developer.github.com/v3/" target="_blank">Github open API</a>. When <code>search</code> changes, fetch github repositories by <code>search</code> value from `onChangeInput`. Result items should be processed to match with <code>AutoCompleteItem</code> interface. Then reassign it to <code>serachResult</code>.
  </p>

  <p>
    If you'd like to show loading spinner on left, you have to set <code>isLoading</code> property from async process. And This exmaple has <code>historyId</code>. So selected item will be remain in history list.
  </p>

  <h3>Github respository search</h3>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isLoading]="isLoading"
    historyId="async"
    placeholder="angular"
  ></ng2-simple-autocomplete>

  <h3>Selected Item</h3>
  <table class="resultTable">
    <tr>
      <td>text (markup)</td>
      <td>{{!!selected && (selected.markup || selected.text) || ''}}</td>
    </tr>
    <tr>
      <td>value</td>
      <td>{{selected && selected.value}}</td>
    </tr>
  </table>

  <pre class="codeblock">
    <code>{{componentMarkup}}</code>
  </pre>
</div>
