<div class="autocomplete-wrapper">



  <h2 class="example-title">Style customizing</h2>

  <p>ng2-simple-autocomplete component has custom styling property. This example customized with style object</p>

  <h3>1. with inline style</h3>
  <pre class="codeblock exampleCode-wrapper">
    <code>{{inlineStyleComponentMarkup}}</code>
    <code [innerHTML]="styleCode"></code>
  </pre>

  <p>rendered output</p>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isStatic]="true"
    [style]="inputStyle"
  ></ng2-simple-autocomplete>


  <h3>2. with global class</h3>
  <p><code>form-control</code>class of Bootstrap</p>
  <pre class="codeblock exampleCode-wrapper">
    <code>{{globalClassComponentMarkup}}</code>
  </pre>

  <p>rendered output</p>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isStatic]="true"
    classNames="form-control"
  ></ng2-simple-autocomplete>

</div>
