<div class="autocomplete-wrapper">

  <h2 class="example-title">Style customizing</h2>

  <p>ng2-simple-autocomplete component has custom styling property. This example customized with style object</p>

  <h3>Component Markup</h3>
  <pre class="codeblock exampleCode-wrapper">
    <code >{{componentMarkup}}</code>
  </pre>

  <h3><code>style</code> property</h3>
  <pre class="codeblock exampleCode-wrapper">
    <code [innerHTML]="styleCode"></code>
  </pre>

  <h3>Rendered component</h3>
  <ng2-simple-autocomplete
    [(search)]="search"
    [searchResults]="results"
    (onSelect)="onSelect($event)"
    (onChangeInput)="onChangeSearch($event)"
    [isStatic]="true"
    [style]="inputStyle"
  ></ng2-simple-autocomplete>

  <h3>Selected Item</h3>
  <table class="resultTable">
    <tr>
      <td>text</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.text || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>markup</td>
      <td>
        <pre *ngIf="!!selected"  class="codeblock"><code>{{!!selected && (selected.markup || '')}}</code></pre>
      </td>
    </tr>
    <tr>
      <td>value</td>
      <td>
        <pre *ngIf="!!selected" class="codeblock"><code>{{!!selected && selected.value}}</code></pre>
      </td>
    </tr>
  </table>


</div>
